

mat-card-header{
    margin: -24px -24px 24px -24px;
    background: rgba(0,0,0,0.03);
    padding: 8px;
}


.mat-card>:first-child {
    margin-top: -24px;
}   

@media (max-width: 600px) {
    .mat-card {
        padding: 24px;
    }
    
}